<div class="p-4">
  <h2 class="mb-4 text-2xl font-semibold">Informações de Entrega</h2>
  <form
    (ngSubmit)="calculateFastestPath()"
    class="mb-4 rounded bg-white px-8 pb-8 pt-6 shadow-md">
    <div class="mb-4">
      <label for="origin" class="mb-2 block text-sm font-bold text-gray-700"
        >Origem (ex: A1):</label
      >
      <input
        id="origin"
        [(ngModel)]="origin"
        name="origin"
        required
        class="w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none" />
    </div>

    <div class="mb-4">
      <label for="pickup" class="mb-2 block text-sm font-bold text-gray-700"
        >Retirada (ex: B2):</label
      >
      <input
        id="pickup"
        [(ngModel)]="pickup"
        name="pickup"
        required
        class="w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none" />
    </div>

    <div class="mb-6">
      <label
        for="destination"
        class="mb-2 block text-sm font-bold text-gray-700"
        >Destino (ex: H8):</label
      >
      <input
        id="destination"
        [(ngModel)]="destination"
        name="destination"
        required
        class="w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none" />
    </div>

    <div class="flex items-center justify-between">
      <button
        type="submit"
        class="rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:outline-none">
        Calcular Caminho
      </button>
    </div>
  </form>

  <div *ngIf="fastestPath">
    <h3 class="mb-4 text-2xl font-semibold">Caminho Mais Rápido:</h3>
    <p>{{ fastestPath.join(' -> ') }}</p>
    <p class="mt-4">Tempo Total: {{ totalTime }} segundos</p>
  </div>

  <div *ngIf="history.length">
    <h2 class="my-4 text-2xl font-semibold">Últimas 10 Viagens Calculadas</h2>
    <ul>
      <li *ngFor="let trip of history" class="mb-2">
        {{ trip.origin }} -> {{ trip.pickup }} -> {{ trip.destination }} ({{
          trip.totalTime
        }}
        segundos)
      </li>
    </ul>
  </div>
</div>
